<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>Daily meeting</nb-card-header>
            <nb-card-body>
                Le Daily Scrum est une cérémonie propre à l'équipe. Il permet d'inspecter la progression vers l'Objectif de Sprint et d'adapter le Sprint Backlog si nécessaire, en ajustant les futurs travaux planifiés.
                <br/>Pour cela, l'équipe est libre de choisir la structure et les techniques qu'elle souhaite.

                <p>
                  Cet outil met à disposition différentes questions afin de faciliter l'atteinte de cet objectif.
                </p>
                <p>
                  L'équipe ne doit pas hésiter à se les approprier et à discuter. Le but reste d'encourager la discussion, de sortir de la routine.
                </p>
                <p>
                  Testez, innovez et n'hésitez pas à sortir de votre cadre habituel ! C'est en répondant aux bonnes questions que l'équipe saura prendre des décisions rapides pour construire un plan d'action sur la journée à venir.
                </p>
                <p>
                    <button (click)="generateDailyQuestions()" nbButton status="primary">Générer des questions</button>
                </p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column>
        <nb-card accent="info" *ngIf="questions.length > 0">
            <nb-card-header>Les questions du jour</nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let question of questions; index as i">{{ i+1 }}. {{ question }}</nb-list-item>
            </nb-list>
        </nb-card>
    </nb-layout-column>
</nb-layout>
