<nb-layout>

    <nb-layout-header fixed>
        <h2>Talon d'Agile</h2>
    </nb-layout-header>

    <nb-sidebar>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer>
    <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>
