.current-card {
    height: 400px;
}

.bad-card {
    height: 570px;
}

.cards-good  {
    height: 100px;
}

.cards-bad  {
    height: 100px;
}

.score {
    font-size: 3rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
