<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>Agile Smells</nb-card-header>

            <nb-card-body>
                Définition

                <p>
                    <button (click)="restart()" nbButton status="primary">Recommencer</button>
                </p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <img *ngIf="buttons" class="current-card" [src]="smellsImage" />
                <div *ngIf="buttons" class="buttons">
                    <button nbButton status="danger" (click)="nextSmell('bad', currentSmell)">Oui</button>
                    <button nbButton status="success" (click)="nextSmell('good', currentSmell)">Non</button>
                </div>

                <div class="intermediate" *ngIf="!(buttons) && !(diagnostic)">
                    Blablabla
                    <p>
                        <button nbButton (click)="toDiagnostic()">Continuer</button>
                    </p>
                </div>

                <img *ngIf="!(buttons) && diagnostic" class="bad-card" [src]="smellsBadImage" />
                <div *ngIf="!(buttons) && diagnostic" class="buttons">
                    <button *ngIf="smellsBadIndex === 0" nbButton disabled>Précédent</button>
                    <button *ngIf="smellsBadIndex > 0" (click)="previousSmellsBad()" nbButton status="primary">Précédent</button>
                    <button *ngIf="smellsBadIndex == smellsBad.length - 1" nbButton disabled>Suivant</button>
                    <button *ngIf="!(smellsBadIndex == smellsBad.length - 1)" (click)="nextSmellsBad()" nbButton status="primary">Suivant</button>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column>
        <nb-card accent="primary">
            <nb-card-body>
                <p class="score">{{ this.score }}</p>
            </nb-card-body>
        </nb-card>
        <nb-card accent="danger">
            <nb-card-header>Cela nous est déjà arrivé</nb-card-header>
            <nb-card-body>
                <div class="smells-bad">
                    <img *ngFor="let bad of smellsBad" class="cards-good" [src]="bad" />
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card accent="success">
            <nb-card-header>Cela ne nous est jamais arrivé</nb-card-header>
            <nb-card-body>
                <div class="smells-good">
                    <img *ngFor="let good of smellsGood" class="cards-good" [src]="good" />
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
